<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="index.php">Home</a></li>
        <li><a href="create.php">Movie Form</a></li>
        <li><a href="movielist.php">Watch List</a></li>
        <li>
            <form class="navbar-form" role="search" method="GET" action="index.php">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search TMDB" name="searchbox">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </li>
    </ul>

</div>